<h1>{{title}}</h1>
<h2>{{hero.name}} details!</h2>
<div><label>id: </label>{{hero.id}}</div>

<form #heroForm="ngForm">
  <div class="form-group">
    <label for="heroName">name: </label>
    <input type="text"
           class="form-control"
           id="heroName"
           required
           name="heroName"
           [(ngModel)]="hero.name"
           placeholder="name"
           #heroName="ngModel"/>

    <div [hidden]="heroName.valid || heroName.pristine"
         class="alert alert-danger">
      Name is required
    </div>
  </div>

  <button type="submit" class="btn btn-success">Submit</button>
</form>
