<h2>My Heroes</h2>
<ul class="heroes" *ngIf="heroes">
  <li *ngFor="let hero of heroes"
      (click)="onSelect(hero)"
      [class.selected]="selectedHero && hero.id === selectedHero.id">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>

<div *ngIf="!heroes">
  Loading heroes...
</div>

<!--<hero-detail [hero]="selectedHero" (submitClicked)="onNameEdit($event)"></hero-detail>-->

<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}} is my hero
  </h2>
  <button (click)="goToDetail()">View Details</button>
</div>
